In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [2]:
# Read data inside the csv file
df_raw = pd.read_csv('../data/input_data.csv')

In [3]:
# Overview of the data
print(df_raw.head())

              name           phone                            email  \
0    Iona Garrison  1-864-516-0374    justo.faucibus@protonmail.org
1   George Cochran  (852) 850-5437     gravida.sagittis@hotmail.org
2   Leigh Martinez  (438) 411-1195                parturient@aol.ca
3   Joelle Sanchez  1-222-938-6214   donec.feugiat.metus@google.com
4  Chaim Christian  (355) 704-5131  curabitur.vel.lectus@icloud.com

  postal_zip              region  country
0      31475            Opolskie   France
1  23673-535            Opolskie   France
2     379337               Maule   Sweden
3       3582  Nord-Pas-de-Calais  Vietnam
4  5646-1179           Antwerpen    Chile

In [4]:
# Please replace username, password, host, port and mydatabase with your actual PostgreSQL credentials in the following format:
db_connection_str = 'postgresql://<username>:<password>@<host>:<port>/<mydatabase>'

In [5]:
# Load raw data into PostgreSQL
engine = create_engine(db_connection_str)

In [6]:
# Load data to postgresSQL
df_raw.to_sql('raw_data', con=engine, if_exists='replace', index=False)

11

In [7]:
"""
This part is for transforming data.
Connect to the PostgreSQL database using psycopg2.
Replace the database credentials with your own.
"""

conn = psycopg2.connect(dbname=<dbname>, user=<user>, password=<password>, host=<host>, port=<port>)

In [8]:
# Allows python code to execute PostgreSQL command in a database session
cur = conn.cursor()

In [9]:
"""
Transform data. 
Create table for transformed data and select only data which country is France.
"""

transform_sql = """
    DROP TABLE IF EXISTS transform_data;
    CREATE TABLE transform_data AS
    SELECT
        name,
        phone,
        email,
        postal_zip,
        region,
        country
    FROM
        raw_data
    WHERE
        country = 'France';
"""

In [10]:
# Execute sql query
cur.execute(transform_sql)
conn.commit()

In [11]:
# Verify if the data was inserted
t_data = """
    SELECT
        name,
        country
    FROM
        transform_data
"""
cur.execute(t_data)

In [12]:
# Get all the transformed data
trans_data = cur.fetchall()

In [13]:
# Print all the transformed data
for t in trans_data:
    print(t)

('Iona Garrison', 'France')
('George Cochran', 'France')
('Dexter Williams', 'France')
('Tad Carrillo', 'France')

In [14]:
# Close the connection
cur.close()
conn.close()