In [8]:
import pandas as pd

In [9]:
df_csv = pd.read_csv("../data/input_data.csv")

In [10]:
df_csv.head()

,name,phone,email,postal_zip,region,country
0,Iona Garrison,1-864-516-0374,justo.faucibus@protonmail.org,31475,Opolskie,France
1,George Cochran,(852) 850-5437,gravida.sagittis@hotmail.org,23673-535,Opolskie,France
2,Leigh Martinez,(438) 411-1195,parturient@aol.ca,379337,Maule,Sweden
3,Joelle Sanchez,1-222-938-6214,donec.feugiat.metus@google.com,3582,Nord-Pas-de-Calais,Vietnam
4,Chaim Christian,(355) 704-5131,curabitur.vel.lectus@icloud.com,5646-1179,Antwerpen,Chile

In [11]:
"""
    Querying it with a conditional expression.
    Show the value of the duplicated row.
"""
df_csv[df_csv.duplicated()]

,name,phone,email,postal_zip,region,country
10,Jesse Bright,1-872-260-1454,nisl@icloud.edu,25450,Innlandet,Sweden

In [12]:
fdata = df_csv.drop_duplicates() # By default keep='first'

In [13]:
print(fdata) # Show data

              name           phone                                   email  \
0    Iona Garrison  1-864-516-0374           justo.faucibus@protonmail.org
1   George Cochran  (852) 850-5437            gravida.sagittis@hotmail.org
2   Leigh Martinez  (438) 411-1195                       parturient@aol.ca
3   Joelle Sanchez  1-222-938-6214          donec.feugiat.metus@google.com
4  Chaim Christian  (355) 704-5131         curabitur.vel.lectus@icloud.com
5   Imelda Raymond  (746) 245-2171        ultrices.duis.volutpat@yahoo.org
6  Dexter Williams  1-427-418-0636  velit.pellentesque.ultricies@icloud.ca
7     Tad Carrillo  (813) 735-7431           nulla.semper.tellus@icloud.ca
8      Tatum Scott  1-468-683-7666                   facilisis@outlook.edu
9     Jesse Bright  1-872-260-1454                         nisl@icloud.edu

  postal_zip              region  country
0      31475            Opolskie   France
1  23673-535            Opolskie   France
2     379337               Maule   Sweden
3       3582  Nord-Pas-de-Calais  Vietnam
4  5646-1179           Antwerpen    Chile
5      85420          North West   Norway
6     80-464            Opolskie   France
7      41091            Opolskie   France
8     607585    Central Sulawesi  Austria
9      25450           Innlandet   Sweden

In [14]:
fdata.to_csv("../data/etl_result.csv") # Load data to etl_result.csv