In [1]:
import pandas as pd
import psycopg2
from sqlalchemy import create_engine

In [2]:
df_raw = pd.read_csv('../data/input_data.csv')

In [3]:
print(df_raw.head())

              name           phone                            email  \
0    Iona Garrison  1-864-516-0374    justo.faucibus@protonmail.org
1   George Cochran  (852) 850-5437     gravida.sagittis@hotmail.org
2   Leigh Martinez  (438) 411-1195                parturient@aol.ca
3   Joelle Sanchez  1-222-938-6214   donec.feugiat.metus@google.com
4  Chaim Christian  (355) 704-5131  curabitur.vel.lectus@icloud.com

  postal_zip              region  country
0      31475            Opolskie   France
1  23673-535            Opolskie   France
2     379337               Maule   Sweden
3       3582  Nord-Pas-de-Calais  Vietnam
4  5646-1179           Antwerpen    Chile

In [4]:
# DB Connection string
db_connection_str = 'postgresql://lizlieangelholleza:postgres@localhost:5433/postgres'

In [5]:
# Load raw data into PostgreSQL
engine = create_engine(db_connection_str)

In [6]:
# Load data to postgresSQL
df_raw.to_sql('raw_data', con=engine, if_exists='replace', index=False)

11

In [7]:
"""
Transform Data
This time, connect to postgres db using psycopg2 for postgreSQL 
"""

conn = psycopg2.connect(dbname="postgres", user="lizlieangelholleza", password="postgres", host="localhost", port=5433)

In [11]:
# Allows python code to execute PostgreSQL command in a database session
cur = conn.cursor()

In [14]:
"""
Transform data. 
Create table for transformed data and select only data which country is France.
"""

transform_sql = """
    DROP TABLE IF EXISTS transform_data;
    CREATE TABLE transform_data AS
    SELECT
        name,
        phone,
        email,
        postal_zip,
        region,
        country
    FROM
        raw_data
    WHERE
        country = 'France';
"""

In [15]:
# Execute sql query
cur.execute(transform_sql)
conn.commit()

InFailedSqlTransaction: current transaction is aborted, commands ignored until end of transaction block

In [22]:
# Verify if data is inserted
t_data = """
    SELECT
        name,
        country
    FROM
        transformed_data
"""
cur.execute(t_data)

In [23]:
# Get all the transformed data
trans_data = cur.fetchall()

In [24]:
# Print all the transformed data
for t in trans_data:
    print(t)

('Iona Garrison', 'France')
('George Cochran', 'France')
('Dexter Williams', 'France')
('Tad Carrillo', 'France')

In [25]:
# Vlose the connection
cur.close()
conn.close()